.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global Styles */
* {
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Header */
/* Navigation Bar */
#navigation {
    height: 4rem;
    width: 100%;
    background-color: #17202a;
    border-bottom: 1px solid #566573;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation h2 {
    color: white;
    margin-left: 1rem;
    font-size: 2.2rem;
    font-family: "Share Tech";
    user-select: none;
}

#navigation h2 span.logo {
    color: #abb2b9;
}

#navigation nav {
    margin-right: 2rem;
    margin-left: 1rem;
}

#navigation nav a{
    color: white;
    font-size: 1.3rem;
    margin-left: 1rem;
}

#navigation nav a.contact-button {
    background-color: #e74c3c;
    border-radius: 1rem;
    padding: .5rem;
    border: 2px solid red;
}

img.tablet {
    display: none;

}

@media only screen and (max-width: 740px) {
    img.tablet {
        display: block;
        width: 3rem;
        height: 3rem;
    }

    #navigation nav a {
        display: none;
    }
}

/* Banner Section */
#banner {
    padding-top: 4rem;;
    height: 30rem;
    width: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner-content {
    font-size: 2.5rem;
    margin-left: 3rem;
    width: 45%;
    background-image: linear-gradient(to right, #ccd1d1 , #f9e79f);
    border: 2px solid yellow;
    padding: 2rem 0;
    opacity: 0.9;
    font-family: "Dancing Script";
}

@media only screen and (max-width: 740px) {
    #banner {
        height: 25rem;
    }

    .banner-content {
        width: 100%;
        margin: 0 3rem;
        padding: 1rem 0;
        font-size: 2rem;
    }
}

/* Main */
/* Projects section */
#project {
    background-color: white;
    padding: 4rem 1rem;
    margin: 0 auto;
    max-width: 80rem;
}

#project h2.project-heading{
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0;
}

.project-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.cases {
    display: flex;
    width: 100%;
    /* border: 2px solid orange; */
}

.case-type1 {
    height: 20rem;
    min-width: 18rem;
    border: 2px solid white;
    display: flex;
    align-items: flex-end;
}

.case-type2 {
    height: 20rem;
    min-width: 18rem;
    border: 2px solid white;
    display: flex;
    align-items: flex-end;
}

.project-content {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    margin: 0;
    padding: 30px 30px;
}

#golden-apple {
    background-image: url("../images/project1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 3;
}

#rostov-national-museum {
    background-image: url("../images/project2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 5;
}

#maliy-journal {
    background-image: url("../images/project3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 5;
}

#andy-bookstore {
    background-image: url("../images/project4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 3;
}

@media only screen and (max-width: 740px) {
    .cases {
        flex-direction: column;
    }
}

/* Team Section */
#team {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    /* border: 2px solid red; */
}

#team h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0;
}

.team-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid orange; */
}

.team-member {
    height: 25rem;
    width: 18rem;
    border: 2px solid white;
    display: flex;
    align-items: flex-end;
}

.team-content {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    margin: 0;
    padding: 30px 30px;  
}

#aiony {
    background-image: url("../images/Aiony.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#charles {
    background-image: url("../images/Charles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#christina {
    background-image: url("../images/Christina.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#matheus {
    background-image: url("../images/Matheus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#rafaella {
    background-image: url(../images/Rafaella.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Contact Section */
#contact {
    display: flex;
    padding: 4rem 0;
    margin: 0 auto;
    justify-content: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    align-items: center;
    margin-right: 2rem;
}

#contact img {
    width: 18rem;
    height: auto;
    flex-grow: 1;
    max-width: 45rem;
}

.contact-info h2 {
    font-weight: bold;
    font-size: 150%;
}

@media only screen and (max-width: 780px) {
    #contact {
        flex-direction: column;
    }

    .contact-info {
        align-items: flex-start;
        width: 90%;
        margin: 0 auto;
    }

    #contact img {
        width: 90%;
        margin: 0 auto;
    }
}

/* footer section */
footer p{
    padding: 1.5rem;
    text-align: center;
    color: #797A7F; 
    background-color: rgba(0, 0, 0, 0.85);
}

footer p a{
    color: #797A7F; 
    text-decoration: underline;
}